*{
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
}
    
body{ 
    margin:0;
    padding: 0; 
}

mark{
    padding: 0;
    background-color: #ffcc31;
}

a:hover{
    text-decoration: none;
}
    
p.card-text { font-weight: 100;
     
}
li.list-group-item {
    font-weight: 200;
}
div.toast-body {
    font-weight: lighter;
}