*{
    box-sizing: border-box;
    
}
body{
    margin:0;
    padding:0;


}
.dm{
    position: fixed;
}
li{
    list-style:none;
}
.dom li{
    display:inline;
    margin:0 5px;
    font-size: 18px;
    font-weight: bold;
    align-items: center;

    
}
.dom li i{
    font-weight: bold;
}

.dom1 a{
   color:black;
   
  
}

.dom1 ol{
   
    display:flex;
    font-size:18px;
    padding:1px;
    justify-content:space-between;
}
.dom2{
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #badef3;
    text-align:center;
   

}
.dom2 p{
   
width: 233px;
height: 150px;
left: 86px;
top: 186px;
text-align:justify;

}

main{
    position: relative;
    top:180px;
    z-index: -1;
}
.chat{
    border-radius:10px; 
}

.dom4{
    height:50px;
}
.maind{
    position: relative;
    top:30px;
    z-index:-1;
}


